# LLM API KEYS
# GOOGLE_API_KEY=AIzaSyDCXn-XMO2qz4DmC5R201MRCkmkFuqc9Rw # GOOGLE STUDIO
PROXYPAL_KEY=


# EXTRACT


# ENTITY RESOLUTION | ENTITY LINK
# MODEL=qwen3-coder-plus
MODEL_LINK=
PROVIDER_LINK=
EXTRACTED_DIR=data/extracted
LINKED_DIR=data/linked


MAX_ITERATIONS=10
SCORE_THRESHOLD=0.85
LIMIT=10
MAX_WORKERS=8


NEO4J_URI = "bolt://localhost:7687"
NEO4J_USER = "neo4j"
NEO4J_PASSWORD = "12345678"
